{{define "chat"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-Bot Chat</title>
    <link rel="stylesheet" href="./public/css/chat.css">
    <script src="./public/js/chat.js" defer></script>
</head>
<body>
    <header>
        <h1>Bienvenue {{.Pseudo}}</h1>
        <nav>
            <div class="left">
                <button>Didacticiel</button>
            </div>
            <div class="center">
                <button>Déconnexion</button>
            </div>
            <div class="right">
                <button>Supprimer mes données</button>
            </div>
        </nav>
        
    </header>

    <section id="chat">
        
    </section>

    <footer>
        <div class="footerButton">
            <Button >
                <img src="./public/img/micro.png" alt="image d'un micro" width="50" height="50">
            </Button>
            <p>Commande vocale</p>
        </div>
        <textarea type="text" id="sendBar" placeholder="Tapez votre message ici puis appuyer sur le bouton envoyer"></textarea>
        <div class="footerButton">
            <Button onclick="onclickSendMessage()">
                <img src="./public/img/envoyer.png" alt="image d'une enveloppe qui s'envoit" width="50" height="50">
            </Button>
            <p>Envoyer</p>
        </div>
    </footer>
    
</body>
</html>
{{end}}
