{{define "connexion"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-Bot Connexion</title>
    <link rel="stylesheet" href="./public/css/connexion.css">
    <script src="./public/js/connexion.js" defer></script>
</head>

<body>

    <header>
        <h1 id="title">Connexion au ChatBot</h1>
    </header>

    <div>
        <form method="POST">
            <input id="state" type="hidden" name="action" value="login">
            <p>
                <label for="pseudo">Pseudo :</label>
                <input type="text" name="pseudo" id="pseudo" required>
            </p>
            <p>
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" id="password" required>
            </p>
            <input id="validate" class="button" type="submit" value="Se connecter">
        </form>

        <button class="button" id="register" onclick="changePageToRegister()">S'inscrire</a></button>
    </div>


    {{if .Error }}
    <div id="error">
        <p> Erreur lors de la connexion : les informations saisies sont incorrectes</p>
    </div>
    {{ end }}

    <footer>
        <p>Application réalisée dans le cadre de l'UE TER et Stage en Entreprise par l'équipe de co-conception C2</p>
    </footer>

</body>

</html>
{{end}}
